@import (less) "../../node_modules/element-ui/lib/theme-default/index.css";

body {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
  font-size: 14px;
  overflow:hidden;
  height:100%;
  width:100%;
  padding:0;
  margin:0;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}

.clearfix:after {
  clear: both
}

.el-row {
  margin-bottom: 20px;
  padding: 16px;
  &:last-child {
    margin-bottom: 0;
  }
}

.no-bottom-margin {
  margin-bottom: 0;
  margin-top: -10px;
  padding-bottom: 0;
}

.hide-label label {
  visibility: hidden;
}

.cardheader {
  line-height: 0.6em;
}
