doctype html
html
  head
    title OpenProst
    link(rel='stylesheet', href='openprost-ui.css', media='all')
  body
    op-app-main#openprost

    include components/app-main
    include components/take-out
    include components/manage-items

    script(src='openprost-ui.js')
