template#op-app-main-tpl
  #app-main
    el-menu(:default-active="activeMenu", mode="horizontal", @select="handleMenu")
      el-menu-item(index="takeout") Entnahme
      el-menu-item(index="admin") Admin
    el-row(v-if="activeMenu === 'takeout'")
      op-take-out
    el-row(v-if="activeMenu === 'admin'")
      el-tabs(v-model="activeTab")
        el-tab-pane(label="Entnahmen", name="manage-take-outs")
          op-manage-take-outs
        el-tab-pane(label="Artikel", name="manage-items")
          op-manage-items
        el-tab-pane(label="Locations", name="locations")
          op-manage-locations
        el-tab-pane(label="Einstellungen", name="configure")
          op-configure
