template#op-app-main-tpl
  el-tabs(v-model="activeName")
    el-tab-pane(label="Entnahme", name="take-out")
      op-take-out
    el-tab-pane(label="Artikel", name="manage-items")
      op-manage-items
