template#op-manage-events-tpl
  #manage-events
    el-dialog(:title="confirm.title", v-model="confirm.visible", size="tiny", :modal-append-to-body="false")
      span {{ confirm.body }}
      span(slot="footer", class="dialog-footer")
        el-button(@click="confirm.cancel") Abbrechen
        el-button(type="primary", @click="confirm.execute") Löschen
    el-row(:gutter="20")
      el-col(:span="24")
        el-collapse(v-model="activeForm", accordion)
          el-collapse-item(title="Event anlegen", name="create")
            el-form(ref="form", :model="dataToAdd", label-position="top")
              el-row(:gutter="10", justify="start", type="flex")
                el-col(:span="24")
                  el-form-item(required, label="Titel", prop="title")
                    el-input(placeholder="z.B. Wurstbasar, Affentanz, Aktionärsversammlung...",
                      v-model="dataToAdd.title")
              el-row(:gutter="10", justify="space-around", type="flex")
                el-button(type="primary", @click="add", size="large") Speichern
    el-row(:gutter="20")
      el-col(:span="24")
        el-table(:data="data", stripe, :default-sort="{prop: 'title', order: 'ascending'}")
          el-table-column(prop="title", label="Titel", sortable)
          el-table-column(fixed="right", width="80")
            template(scope="scope")
              el-button-group
                el-button(type="primary", icon="delete", size="mini", @click="remove(scope.row)")
