template#op-manage-items-tpl
  #items
    el-dialog(:title="confirm.title", v-model="confirm.visible", size="tiny")
      span {{ confirm.body }}
      span(slot="footer", class="dialog-footer")
        el-button(@click="confirm.cancel") Abbrechen
        el-button(type="primary", @click="confirm.execute") Löschen
    el-row(:gutter="20")
      el-col(:span="24")
        el-collapse(v-model="activeForm", accordion)
          el-collapse-item(title="Artikel anlegen", name="create")
            el-form(ref="form", :model="itemToAdd", label-position="top")
              el-form-item
                el-alert(type="info", show-icon, :closable="false",
                title='Mehrfachnennungen müssen per Komma getrennt werden, Kommawerte mit einem Punkt (z.B. "1,0.3"' +
                '/ "Liter" / "Kisten,Flaschen" für 1L, 0,3L Kisten und Flaschen).')
              el-row(:gutter="10", justify="start", type="flex")
                el-col(:span="12")
                  el-form-item(required, label="Titel", prop="title")
                    el-input(placeholder="z.B. Chrombecher Pilzner, Arschtra Blaulicht, Specks Ultra...",
                      v-model="itemToAdd.title")
                el-col(:span="12")
                  el-form-item(label="Tags", prop="tags")
                    el-input(placeholder="z.B. Schnaps, Haushaltswaren, Gold...", v-model="itemToAdd.tags")
              el-row(:gutter="10", justify="start", type="flex")
                el-col(:span="6")
                  el-form-item(required, label="Mengen", prop="quantities")
                    el-input(placeholder="z.B. Kästen, Flaschen, Kartons...", v-model="itemToAdd.quantities")
                el-col(:span="6")
                  el-form-item(required, label="Mengenpreise in Euro", prop="quantity_prices")
                    el-input(placeholder="z.B. 20.0, 0.75...", v-model="itemToAdd.quantity_prices")
                el-col(:span="6")
                  el-form-item(required, label="Größen", prop="sizes")
                    el-input(placeholder="z.B. 1, 0.3, 12...", v-model="itemToAdd.sizes")
                el-col(:span="6")
                  el-form-item(required, label="Einheiten", prop="units")
                    el-input(placeholder="z.B. Liter, Beutel, Rollen, Gigapökel...", v-model="itemToAdd.units")
              el-row(:gutter="10", justify="space-around", type="flex")
                el-button(type="primary", @click="add", size="large") Speichern
    el-row(:gutter="20")
      el-col(:span="24")
        el-table(:data="itemData.items", stripe, :default-sort="{prop: 'title', order: 'ascending'}")
          el-table-column(prop="title", label="Titel", fixed, sortable, :width="titleWidth")
          el-table-column(prop="quantities", label="Mengen", :formatter="arrayToString")
          el-table-column(prop="quantity_prices", label="Mengenpreise (€)", :formatter="arrayToString")
          el-table-column(prop="sizes", label="Größen", :formatter="arrayToString")
          el-table-column(prop="units", label="Einheiten", :formatter="arrayToString")
          el-table-column(prop="tags", label="Tags", :formatter="arrayToString",
            :filter-method="filterTags", :filters="itemData.tags")
            template(scope="scope")
              el-tag(close-transition, v-for="tag in scope.row.tags", :key="tag") {{ tag }}
          el-table-column(fixed="right", width="80")
            template(scope="scope")
              el-button-group
                el-button(type="primary", icon="delete", size="mini", @click="remove(scope.row)")
